.contact {
    &__container {
        margin-bottom: 4rem;
        width: 60vw;
        margin: 0 auto;
    }

    &__title {
        margin-top: 0;
        animation: fade .5s ease-in forwards;
    }

    &__subtitle {
        opacity: 0;
        animation: fade .5s ease-in forwards;
    }

    &__text {
        margin-bottom: 2rem;
        animation: fade .5s ease-in forwards;
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        margin: 4rem;
        opacity: 0;
        animation: fade-in 1s ease-in forwards;
        animation-delay: .2s;

        &-svg {
            height: 2.5rem;
            transition: filter .2s;

            &:hover {
                filter: invert(36%) sepia(6%) saturate(4053%) hue-rotate(167deg) brightness(80%) contrast(78%);
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .contact {
        &__container {
        }

        &__title {
            margin-top: 0;
        }

        &__text {
            margin-bottom: 2rem;
        }

        &__social {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 3rem;

            &-svg {
                height: 3rem;
            }
        }
    }
}